@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

body {
  color: rgb(15 23 42);
  background: rgb(248 250 252);
}
